= @instructor_app.first_name
= @instructor_app.last_name
= @instructor_app.email
= @instructor_app.phone_number
= @instructor_app.instagram_handle
= @instructor_app.blog_url
= @instructor_app.facebook_url
= @instructor_app.new_haven
= @instructor_app.hobbies
-# = @instructor_app.activity_title
-# = @instructor_app.activity_description
