.head
  %link{rel:"stylesheet"}

.h1 Our People
.body
  - @instructor_intro = InstructorApp.all
  - @activity = Activity.all

  - @instructor_intro.each do |a|
    - if a.first_name.length < 2 || a.last_name.length < 2
      - next
    - else
      = a.first_name
      = a.last_name
      %br
      %a{:href => "/instructor_profile/#{a.id}"}
        My Story
      %br
    - @activity.each do |b|
      = if (b.instructor_id == a.id)
        %a{:href => "/instructor_profile/#{a.id}"}
          My Activity:
        = b.title
    %br

  -#
  -# - @instructor_intro.each do |a|
  -#   = a.first_name
  -#   = a.last_name
  -#   -# = @activity.each do |b|
  -#   -# = Activity.find_by(instructor_id: a)
  -#   -# = a.title
  -#   - @activity.each do |b|
  -#     = if (b.instructor_id == a.id)
  -#       = b.title
  -#   %br

-# %a{href: "/activity_description"}
-#   Fun Times
